DATABASE_URL = "**********"

OPENAI_API_KEY = "**********"
GROQ_API_KEY = "**********"
BASE_URL = "https://api.groq.com/openai/v1"

LIST_OF_GENERATION_MODEL = ["qwen/qwen3.8-27b", "gpt-4o", "GPT-5"]
OPENAI_MODEL_ID = "gpt-4o"
GROQ_MODEL_ID = "qwen/qwen3.8-27b"

# AI Backend Configuration
LIST_OF_AI_BACKEND = ["GROQ", "OPENAI"]
AI_BACKEND = "GROQ"

SYSTEM_PROMPT = "Any system prompt you want to give to the LLM."

# JWT
JWT_SECRET_KEY = "**********"
JWT_ALGORITHM = HS256
ACCESS_TOKEN_EXPIRY = 3600 #sec
REFRESH_TOKEN_EXPIRY = 2 #days

# App Config
APP_DOMAIN = "http://[IP_ADDRESS]"
FRONTEND_URL = "http://127.0.0.1:5500/UI/index.html"
ALLOWED_ORIGINS = ["http://127.0.0.1:5500", "http://localhost:5500"]

# Redis 
REDIS_HOST = localhost
REDIS_PORT = 6379

# Mail (Gmail SMTP)
MAIL_USERNAME = "your_email@gmail.com" # Gmail of application
MAIL_PASSWORD = "your_app_password" # App password for Gmail
MAIL_FROM = "your_email@gmail.com" # Gmail of application
MAIL_SERVER = "smtp.gmail.com"
MAIL_PORT = 587

# Admin Configuration - email of the first admin user
ADMIN_EMAIL = "admin@example.com"
ADMIN_USERNAME = "username"

# S3 Storage
S3_ACCESS_KEY_ID =""
S3_SECRET_ACCESS_KEY =""
S3_REGION =""
S3_ENDPOINT =""
S3_BUCKET_NAME = ""