DATABASE_URL = "**********"

OPENAI_API_KEY = "**********"
OPENAI_BASE_URL = "https://api.groq.com/openai/v1"
GROQ_API_KEY = "**********"

LIST_OF_GENERATION_MODEL = ["meta-llama/llama-4-scout-17b-16e-instruct", "gpt-4o", "GPT-5"]

OPENAI_MODEL_ID = "gpt-4o"
GROQ_MODEL_ID = "meta-llama/llama-4-scout-17b-16e-instruct"

SYSTEM_PROMPT = "Any system prompt you want to give to the LLM."

JWT_SECRET_KEY = "**********"
JWT_ALGORITHM = HS256
ACCESS_TOKEN_EXPIRY = 3600 #sec
REFRESH_TOKEN_EXPIRY = 2 #days

# Mail (Gmail SMTP)
MAIL_USERNAME = "your_email@gmail.com" # Gmail of application
MAIL_PASSWORD = "your_app_password" # App password for Gmail
MAIL_FROM = "your_email@gmail.com" # Gmail of application
MAIL_SERVER = "smtp.gmail.com"
MAIL_PORT = 587

# Admin - email of the first admin user
ADMIN_EMAIL = "admin@example.com"
ADMIN_USERNAME = "username"